%header.signup__status_header
  = link_to root_path do
    = image_tag('/mypage_images/mercari_main_icon.svg', class: "signup__main_icon")

  = render "signup/shered/signup_header_statusbar", status_bar_main_number: status_bar_main_number
