.signup__fotter
  .signup__fotter-buttons
    .signup__fotter-button
      プライバシーポリシー
    .signup__fotter-button
      メルカリ利用規約
    .signup__fotter-button
      特定商取引に関する表記
  .signup__fotter_icon
    = image_tag("/top_images/mercari_gray.svg")
  .signup__fotter_copyright
    ©︎2019 Mercari
