= render "shered/header"
.mypage
  - button_main_number = 22
  = render "/mypages/shered/header",button_main_number:button_main_number

  .mypage__main
    .logout__box
      = link_to destroy_user_session_path,method: "delete" do
        .logout__button
          ログアウト


= render "shered/fotter"
