@mixin box($height,$width){
  height: $height;
  width: $width;
}


.login{
  font-family: 'Source Sans Pro', Helvetica , Arial, 'æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“', 'YuGothic', 'ãƒ¡ã‚¤ãƒªã‚ª', 'Meiryo', sans-serif;
  &wrapper{
    background: #f5f5f5;
    font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  }
  &__header{
    position: relative;
    @include box(129px,100%);
    .mercari_calor_icon{
      position: absolute;
      top: 40px;
      right:  calc(50% - 92px);
      @include box(49px,185px);
      margin: 0 auto;
    }
    .mercari_calor_icon:hover{
      opacity: 0.5;
    }
  }
  &__main{
    @include box(auto,456px);
    background-color: white;
    margin: 0 auto;
  }
  &__signup--link{
    @include box(64px,328px);
    padding: 40px 64px;
    margin: 0 auto;
    &-description{
      width: 328px;
      text-align: center;
      font-size: 14px;

    }
    &-button{
      @include box(40px,328px);
      margin-top: 6px;
      text-align: center;
      line-height: 40px;
      color: white;
      background-color: #0099e8;
      font-size: 14px;

    }
  }
  &__form{
    border-top: 1px solid #eee;
    padding: 32px 64px;
    &--facebook{
      &-button{
        @include box(50px,328px);
        background-color: #385185;
        text-align: center;
        position: relative;
        line-height: 48px;
        color: #fff;
        font-size: 14px;
        .login__facebook_icon{
          position: absolute;
          left: 18px;
          top: 10px;
          color: white;
          font-size: 30px;
        }
      }
    }
    &--google{
      &-button{
        @include box(48px,326px);
        margin-top: 16px;
        text-align: center;
        position: relative;
        line-height: 48px;
        font-size: 14px;
        border: 1px solid #979797;
        .login__google_icon{
          position: absolute;
          left: 8px;
          top: 2px;
          color: white;
          font-size: 30px;
        }
      }

    }
    &--mercari-login{
      &-email{
        margin-top: 48px;
        padding: 10px 16px 8px;
        @include box(28px,296px);
        border: 1px solid #ccc;
        border-radius: 4px;
      }
      &-password{
        margin-top: 24px;
        padding: 10px 16px 8px;
        @include box(28px,296px);
        border: 1px solid #ccc;
        border-radius: 4px;
      }
      &-reCAPTCHA{
        margin-top: 24px;
        &-icon{
          margin-top: 0;
          @include box(74px,300px);
        }
      }
      &-submit{
        margin-top: 24px;
        @include box(48px,326px);
        background-color: #ea352d;
        text-align: center;
        line-height: 48px;
        font-size: 14px;
        color: #fff;
      }
    }
    &--forget{
      margin-top: 40px;
      @include box(14px,328px);
      a{
        color: #0099e8;
      }
      a:hover{
        text-decoration: underline;
        opacity: 0.5;
      }
    }
  }
  &__fotter{
    @include box(160px,456px);
    margin: 40px auto 0;
    &-buttons{
      display: flex;
      font-size: 12px;
      padding: 40px auto;
      margin-left: 27px;
    }
    &-button{
      margin-left: 16px;
    }
    &-button:hover{
      opacity: 0.5;
      text-decoration: underline;
    }

    &_icon{
      margin: 40px auto 0;
      @include box(80px,65px);
    }
    &_icon:hover{
      opacity: 0.7;
    }
    &_copyright{
      padding: 8px auto 0;
      font-size: 13px;
      text-align: center;

    }
  }
}
