@mixin box($height,$width){
  height: $height;
  width: $width;
}

.registration{
  &wrapper{
    background: #f5f5f5;
    font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  }
  &__main{
    @include box(auto,700px);
    background-color: white;
    margin: 0 auto;
    &--title{
       padding: 32px 16px;
       @include box(33px,668px);
       background-color: #fff;
       font-size: 22px;
       text-align: center;
       font-weight: 600;
       border-bottom: 1px solid #f5f5f5;
    }
  }
  &__form{
    @include box(auto,320px);
    padding: 24px 64px 64px;
    margin: 0 auto;
    &--group{
      margin-top: 40px;
    }
    &--name{
      display: flex;
      margin-bottom: 8px;
      .registration__child--title{
      font-size: 14px;
      font-weight: 600;
      }
      .registration__need_mark{
        @include box(15px,24px);
        border-radius: 2px;
        font-size: 12px;
        padding: 2px 4px;
        margin-left: 10px;
        background-color: #ea352d;
        color: white;
        line-height: 17px;
      }
    }
    &--input{
      @include box(28px,286px);
      padding: 8px 16px 10px;
      border-radius: 4px;
      border: 1px solid #ccc;
    }
    &-confirmation{


      &-title{
        font-size: 16px;
        font-weight: 600;
      }
      &-text{
        margin-top: 8px;
        font-size: 14px;
      }
    }
    &--birthday{
      display: flex;
      &-input{
        position: relative;
        &-box{
          @include box(46px,106px);
          margin-top: 8px;
          padding: 0 16px;
          border-radius: 4px;
          border: 1px solid #ccc;

        }
        .registration__form--allow-icon{
          position: absolute;
          top: 23px;
          left: 106px;
          font-size: larger;
          color: #888;
        }
      }
      .registration__form--birthday-unit{
        margin: auto 8px;
        padding-top: 6px;
      }
    }
    &--birthday-notes{
      margin: 8px 0 0;
      color: #888;
      font-size: 14px;
      line-height: 1.5;
    }
    &--terms_of_service{
      margin-top:40px;
      font-size: 14px;
      text-align: center;
      &-link{
      }
    }
    &--terms_of_service{
      &-link{
        color: #0099e8;
      }
      &-link:hover{
        opacity: 0.5;
        text-decoration: underline;
      }
    }
    &--submit{
      &-button{
        @include box(48px,320px);
        background-color: red;
        text-align: center;
        line-height: 48px;
        color: #fff;
      }
    }
    &--Personal_information_registration{
      width: 180px;
      margin-left:auto;
      a{
        color: #0099e8;
      }
      a:hover{
        opacity: 0.5;
        text-decoration: underline;
      }
    }
  }
}

