@mixin box($height,$width){
  height: $height;
  width: $width;
}


.sms_confirmation{
  &__main{
    @include box(auto,700px);
    background-color: white;
    margin: 0 auto;
    &--title{
       padding: 32px 16px;
       @include box(33px,668px);
       background-color: #fff;
       font-size: 22px;
       text-align: center;
       font-weight: 600;
       border-bottom: 1px solid #f5f5f5;
    }
  }
  &__form{
    @include box(auto,320px);
    padding: 24px 64px 64px;

    margin: 0 auto;
    &--title{
      font-size: 16px;
      font-weight: 600;
    }
    &--input{
      margin-top: 8px;
      @include box(28px,286px);
      padding: 8px 16px 10px;
      border-radius: 4px;
      border: 1px solid #ccc;
    }
    &--notice{
      font-size: 14px;
      margin-top: 8px;
    }
    &--submit-button{
      margin-top: 40px;
      @include box(48px,320px);
      background-color: red;
      text-align: center;
      line-height: 48px;
      color: #fff;
      font-size: 16px;
    }
    &--notes{
      margin-top: 8px;
      font-size: 14px;
    }
    &--Personal_information{
      margin-top: 40px;
      width: 195px;
      margin-left: auto;
      a{
        color: #0099e8;
      }
      a:hover{
        opacity: 0.5px;
        text-decoration: underline;
      }
    }
  }
}


