@mixin box($height,$width){
  height: $height;
  width: $width;
}

a {
  text-decoration: none;
  color: #0099e8;
  font-size:14px;
  color: #333;
}
a:hover{
  color: #0099e8;
}

.top-wrapper{

}
header{
  @include box(auto,auto);

}
.header{
  background-color: white;
  &__body{
    padding-top: 8px;
    margin: 0 auto ;
    @include box(auto,1020px);
  }
  &__search{
    display: flex;
    position: relative;
  }
  &__main_icon{
      @include box(36px,134px);
      margin-top: 8px;
      margin-right:50px;

  }
  &__search--box{
    @include box(32px,100%);

    &-input{
      @include box(32px,100%);
      border-radius: 1px;
      padding: 8px;
      border: 1px solid #e6e6e6;
      position: relative;
      background: #e6e6e6;
    }
  }
  &__search--icon{
      position: absolute;
      top: 18px;
      right: 13px;
      font-size: unset;
  }
    a:hover{
      color: #333;
    }


  &__buttons{
  height: 38px;
  text-decoration: none;
  line-height: 36px;
  position: relative;
  margin-top: 8px;
  display: flex;
  z-index: 0;

  }

  &--category{

  }
  &__list_tag_icon{
    color: red;
  }
  &__category--search{
    font-weight: 600;
  }
  &--brand{

  }
  &__tag_icon{
    padding-left:16px;
    color: red;
  }
  &__brand--serach{
    line-height: 36px;
    font-weight: 600;
  }
  &__right{
    @include box(auto,auto);
    position: absolute;
    line-height: 36px;
    top: 0;
    right: 0;
    vertical-align: middle;
    display: flex;
  }
  &__notice{
      padding-left: 28px;
      display: flex;
  }
  &__bell_icon{
    font-size: large;
    line-height: 36px;
    opacity: 0.5;
    padding-top: 8px;
  }
  &__notice--title{
    margin-left: 8px;
  }
  &__to_do_list{
    padding-left: 28px;
    display: flex;
  }
  &__chack_icon{
    line-height: 36px;
    opacity: 0.5;
    padding-top: 12px;
  }
  &__to_do_list_title{
    margin-left: 8px;
  }
  &__mypage{
    margin-left: 28px;
    display: flex;
    &--icon{
        height:32px;
        width:32px;
        border-radius:50%;
    }
    &--title{
      margin-left: 8px;
    }
  }
  &__login{
    @include box(32px,56px);
    padding: 0 10px;
    background-color:#ea352d;
    color: white;
    font-size: 14px;
    line-height: 32px;
    border-radius: 4px;
  }
  &__signin{
    @include box(30px,84px);
    padding: 0 10px;
    background-color:#fff;
    color: #0099e8;
    font-size: 14px;
    line-height: 32px;
    border: 1px solid #0099e8;
    border-radius: 4px;
    margin-left: 8px;
  }
  &__signin:hover{
    background-color: #0099e8;
    color: #fff;
  }
}

.header__category_brand{
    @include box(0px,1023px);
    margin: 0 auto;
    position: relative;
  &--box{
    position: absolute;
    top:-5px;
    left:0;
    background-color: white;
    z-index: 100;
    display: flex;
    font-size: 14px;

    a{
      color: black;
    }
  }
  &--box-parents{
    @include box(616px,194px);
    border: 1px solid #eee;
    width: 224px;
    display: none;
    &-button{
      @include box(44px,192px);
      padding: 0 16px;
      line-height: 44px;
    }
  }
  &--box-child{
    @include box(616px,194px);
    border: 1px solid #eee;
    width: 224px;
    display: none;
    &-button{
      @include box(30px,192.5px);
      padding: 0 16px;
      line-height: 30px;
    }
  }
  &--box-grandchild{
    @include box(616px,194px);
    border: 1px solid #eee;
    width: 320px;
    display: none;
    &-button{
      @include box(30px,288px);
      padding: 0 16px;
      line-height: 30px;
    }
  }

}
.first_slide{
  background: url("/top_images/first_slide_image.png");
  height: 390px;
  background-position: center;
  background-size: cover;
}
.second_slide{
    background: url("/top_images/second_slide_image.png");
    position: relative;
    height:390px;
    background-position: center;
    background-size: cover;
  &__sub_box{
    margin-top: 22px;
    position: absolute;
    right: calc(50% - 430px);
    width: 860px;
    z-index: 300;
  }
  &__phone_hand_image{
    position: absolute;
    top: -22px;
    right: -30px;
    height: 390px;
    width: 390px;
    img{
      height: inherit;
    }
  }
  &__main_text{
      opacity: 0.75;
      font-size: 70px;
      left: 0;
      margin-top:16px;
      font-weight: 600;
      line-height: 1.19;
  }
  &__sub_text{
      opacity: 0.75;
      margin-top: 16px;
      font-size: 18px;
      left: 0;
  }
  &__icons{
      margin-top: 24px;
      height: 40px;
      width: 400px;
      display: -webkit-flex;
      display: flex;
    &--app_store_icon{
        height: 50px;
        width: 170px;
        margin-right: 10px;
    }
    &--app_store_icon:hover{
        opacity: 0.7;
    }
    &--google_play_icon{
        height: 50px;
        width: 170px;
    }
    &--google_play_icon:hover{
        opacity: 0.7;
    }
  }
}

.third__slide{
    background: url("/top_images/third_slide_image.png");
    position: relative;
    height:390px;
    background-position: center;
    background-size: cover;
}

.fa-angle-left{
  font-size: -webkit-xxx-large;
  color: white;
  position: absolute;
  top: calc(50% - 10px);
  left:60px;
  z-index: 100;
  -webkit-text-stroke: 0.5px gray;
}

.fa-angle-left:before{
  color:white;
}

.fa-angle-right {
  font-size: -webkit-xxx-large;
  color: white;
  position: absolute;
  top: calc(50% - 10px);
  right: 60px;
  z-index: 100;
  -webkit-text-stroke: 0.5px gray;
}
.fa-angle-right:before{
  color: white;
}
.slick-dots{
  color: red;
  position: absolute;
  margin: 0 auto;
  bottom: 5%;
  right: calc(50% - 32px);
  z-index: 100;
}

.slick-dots li button:before{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
}



button{
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.slide-dots{
  text-align: center;
  position: absolute;
  bottom: 15px;
  right: calc(50% - 25px);
  li{
    display: inline-block;
    margin: 0 10px;
    button{
      position: relative;
      text-indent: -9999px;
      &:before{
        content: '●';
        color: white;
        opacity: 0.5;
        font-size: 12px;
        text-indent: 0px;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    &.slick-active{
      button:before{
        opacity: 0.5;
        color: black;
        content: '●';

      }
    }
  }
}




.slider{
  position: relative;
  &__image{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 100%;
    position: center;
    height: 390px;
    overflow: hidden;
    .active{
      display: inline;
    }
  }
  &__buttons{
    &--center{
      .slider-button-center{
        color: white;
        font-size: 12px;
      }
    }
  }
}

.top-main{
  background-color: #f5f5f5;
  .top-products{
    background-color: #f5f5f5;
    width: 932px;
    margin: 40px auto 0 auto;
  }
}



.pickup{
  &__title{
    text-align: center;
    font-size: 28px;
    font-weight: bold;
  }
  &__subtitle{
    margin: 26px 0;
    text-align: center;
    font-size: 22px;
    color: #0099e8;
    font-weight: bold;
  }
  &__subtitle:hover{
    opacity: 0.5;
    text-decoration: underline;
  }
  &__products{
    display: flex;
  }
}
.product{
  @include box(330px,213px);
  margin: 20px 0 0  20px;
  &__image{
    @include box(213px,213px);
    background-color: red;
    .test_image{
      @include box(213px,213px);
    }
  }
  &__body{
  @include box(78px,181px);
    padding:16px;
    background-color: white;
  }
  &__name{
    height: 48px;
    overflow: hidden;
    position: relative;
  }
  &__name_linear{
    position: absolute;
    bottom: 0;
    right: 0;
    @include box(24px,50%);
    background:-webkit-gradient(linear, left top, right top, from(rgba(255,255,255,0)), color-stop(72%, #fff));
  }
  &__price_and_like{
    display: flex;
    margin-top: 8px;
  }
  &__prices{
  }
  &__price{
    font-size: 16px;
  }
  &__tax{
    font-size: 10px;
  }
  &__like{
    display: flex;
    margin: 0 0 0 auto;
  }
  &__good_icon{
    color: #ccc;
    margin-right: 4px;
  }
  &__like_num{
    font-size: 16px;
  }
}



.pickup__show-all{
  padding: 20px 0 30px 0;
  text-align: right;
  color: #0099e8;
  @include box(auto,auto);
  .show-all__button{
      @include box(auto,auto);
      margin: 0 0 0 auto;
      color: #0099e8;
  }
}

.fotter{
  &__image{
  position: relative;
    height: 260px;
    width: 100%;
    background: url("../top_images/fotter_main_image.png");
    background-position: center;
    background-size: cover;
  }
  &__wide_image{
    width: 100%;
    height: 260px;
  }
  &__image_buttons{
    right: calc(calc(100% - 750px)/2);
    position:absolute;
    width: 750px;
    height: 260px;
    line-height: inherit;
    .mobile_image{
      position: absolute;
      height: 100%;
      right: 0px;
      bottom: 0px;
    }
  }
  &__sub_box{
    position: absolute;
    top:55px;
    right: 360px;
  }
  &__sub_text{
    font-size: 16px;
    color: white;
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
    font-weight: bolder;
  }
  &__main_text{
    font-size: 24px;
    margin-top: 6px;
    color: white;
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
    font-weight: bolder;
  }
  .mercari_box_icon{
    padding-top: 20px;
    height: 68px;
    width: 68px;
  }
  .app_store_icon{
    vertical-align: 11px;
    padding-left: 20px;
  }
  .app_store_icon:hover{
    opacity: 0.5;
  }
  .google_play_icon{
    vertical-align: 11px;
    padding-left: 5px;
  }
  .google_play_icon:hover{
    opacity: 0.5;
  }
  &__links{
    background: #212121;
    padding-top: 18px;
    margin-top: -10px;
    a{
      color: #fff;
      opacity: .7;
      font-size: 12px;
      margin-top: 14px;
      height: 12px;
    }
  }

  &__main{
    width: 1020px;
    display: flex;
    margin: 10px auto;
  }
  &__about_mercari{
    .about_mercari__child{
      margin-top: 16px;
      .about_mercari__child--logos{
        margin-top: 20px;
        display: flex;
        a{
          font-size: xx-large;
        }
        .twitter_icon{
        }
        .facebook_icon{
          margin-left: 20px;
        }
      }
    }
  }
  &__help_guide{
    .help_guide__child{
      margin-top: 16px;
      width: 195px;
    }
  }
  &__privacy{
    .privacy__child--box{
      margin-top: 16px;
      display: flex;
    }
  }
  &__country{
    .country__child{
      margin-top: 16px;
    }
  }
  &__bottom{
  width: 1020px;
  margin: 0 auto;
  display: flex;
  }
  &__mercari_icon{
    color: white;
    .f_mercari_icon{
    }
  }
  &__copyright{
    width: 745px;
    text-align: center;
    color: white;
    font-size: 12px;
    line-height: 50px;
  }
  &__title{
    color: white;
    margin-bottom: -22px;
  }
  &__child{
    width: 182px;
    padding-right: 20px;
    white-space: pre-wrap;
    color: #fff;
  }
}

.link{
  margin-top: -6px;
  line-height: 1.1;
}
.link:hover{
  text-decoration: underline;
}
.camera__button{
    position: fixed;
    bottom: 32px;
    right: 32px;
    padding-top:30px;
    background-color: #ea352d;
    @include box(130px, 160px);
    text-align: center;
    line-height:  30px;
    font-size: 20px;
    color:white;
    border-radius: 50%;
  .camera_icon{

    color: white;
    font-size:60px;

  }
}
