@mixin box($height,$width){
  height: $height;
  width: $width;
}

body{
  background: #f5f5f5;
}

.mypage{
  @include box(auto,700px);
  margin: 40px auto;
  height: auto;
  width: 1020px;
  display: flex;
  &__sidebar{
    margin-right: 40px;
    width:280px;
  }
  &__buttons{
    @include box(auto,248px);
    background-color: #fff;
    &--title{
      margin-top: 40px;
      font-size: 16px;
      font-weight: 600;
      background-color: #f5f5f5;
    }
  }
  &__button{
    background-color: #fff;
    @include box(16px,248px);
    padding: 16px ;
    display: flex;
    border-top: 1px solid #f5f5f5;
    &--title{
      font-size: 14px;
      @include box(16px,200px)
    }
    &--arrow-icon{
      line-height: 24px;
      color: #ccc;
      font-size: larger;
      margin-left: auto;
    }
  }
  &__button:hover{
    background-color: #f9f9f9;
    .mypage__button--arrow-icon{
      position: relative;
      color: #000000;
      left: 3px;
    }
  }
  &__button--main{
    background-color: #eee;
    @include box(16px,248px);
    padding: 16px ;
    display: flex;
    border-top: 1px solid #f5f5f5;
    font-weight: 600;
    &-title{
      font-size: 14px;
      @include box(16px,200px);
    }
    &-arrow-icon{
      line-height: 24px;
      font-size: larger;
      margin-left: auto;
    }
  }
  &__button--main:hover{
    .mypage__button--main-arrow-icon{
      position: relative;
      left: 3px;
    }
  }
  a{
    color: #000000;
  }
  .mypage__main{
    @include box(auto,700px);
  }
  &__top{
    &--information{
      @include box(110px,610px);
      background-image: url("/mypage_images/mypage_main_image.png");
      background-size:contain;
      padding:45px;
      &-mypage_icon{
        @include box(60px,60px);
        border-radius: 50%;
        margin-left: 275px;
      }
      &-name{
        text-align: center;
        padding-top: 8px;
        font-size: 14px;
      }
      &-evaluation_Exhibit{
        padding-top: 8px;
        font-size: 14px;
        display: flex;
        @include box(auto,auto);
        margin: auto;
      }
      &-evaluation{
        margin-left: auto;
      }
      &-Exhibit{
        margin-left: 10px;
        margin-right: auto;
      }
      &:hover{
        .mypage__top--information-mypage_icon{
          opacity: 0.7;
        }
        .mypage__top--information-name{
          opacity: 0.7;
          text-decoration : underline;
        }
        .mypage__top--information-evaluation_Exhibit{
          opacity: 0.7;
        }
      }
    }
    &--select-button{
      display: flex;
      &--right{
        @include box(74px,350px);
        text-align: center;
        line-height: 74px;
        font-weight: 600;
        border-top: 1px solid red;
        background-color: #fff;
      }
      &--left{
        @include box(74px,350px);
        text-align: center;
        line-height: 74px;
        font-weight: 600;
        border-top: 1px solid whites;
        background-color: #eee;
      }
      &--right:hover{
        .mypage__top--select-button--right-text{
          opacity: 0.5;
        }
      }
      &--left:hover{
        .mypage__top--select-button--left-text{
          opacity: 0.5;
        }
      }
    }
  }
  &__notice-box{
    background-color: #fff;
    &_list{
    }
    &_article{
      display: flex;
      @include box(48px,668px);
      padding: 16px;
      border-bottom: 1px solid #f5f5f5;
      &-icon{
        @include box(48px,48px);
      }
      &-middle-box{
        margin-left: 20px;
        width: 540px;
      }
      &-text{
          font-size: 14px;
      }
      &_time{
          font-size: 14px;
          opacity: 0.5;
      }
      &_arrow-icon-box{
        @include box(38px,40px);
        margin: auto 0;
        text-align: right;
        line-height:40px;
      }
      &_arrow-icon{
      }
    }
    &:hover{
      background-color: #f9f9f9;
    }
  }
  &__notice-all-view{
    background-color: #fff;
    @include box(56px,668px);
    padding: 16px;

    &-button{
      @include box(56px,668px);
      line-height: 56px;
      text-align: center;
      font-size: 14px;
      background-color:  #f5f5f5;
    }
    &-button:hover{
      background-color:#FBFBFB;
    }
  }
  &__top--do-list{
    background-color: #fff;
    &_list{
    }
  }
  &__bottom--middle-space{
    @include box(40px,700px);
    background-color: #f5f5f5;
  }
  &__bottom--title{
    @include box(72px,668px);
    padding: 0 16px;
    line-height: 72px;
    font-weight: 600;
    background-color: #FAFAFA;

  }
  &__bottom--select-button{
    display: flex;
    &--right{
      @include box(74px,350px);
      text-align: center;
      line-height: 74px;
      font-weight: 600;
      border-top: 1px solid whites;
      background-color: #eee;
    }
    &--right:hover{
      .mypage__bottom--select-button--right-text{
        opacity: 0.5;
      }
    }
    &--left{
      @include box(74px,350px);
      text-align: center;
      line-height: 74px;
      font-weight: 600;
      border-top: 1px solid red;
      background-color: white;
    }
    &--left:hover{
      .mypage__bottom--select-button--left-text{
        opacity: 0.5;
      }
    }
  }
  &__bottom--during-trading-box{
    display: none;
    background-color: #fff;
  }
  &__bottom--past-transactions{
    @include box(16px,700px);
    background-color: #fff;
    background-image: url("/mypage_images/mercari-logo-gray-icon.svg");
    background-repeat: no-repeat;
    background-position: center 40px;
    background-size: 78px 85px;
    padding: 160px 0 60px;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    color: #ccc;
  }
}
