@mixin box($height,$width){
  height: $height;
  width: $width;
}

.search{
  &__main{
    width: 1100px;
    margin: 40px auto 40px;
    display: flex;
  }
  &__search_bar{
    width: 280px;
    margin-left: 40px;
    &--sort{
      position: relative;
      &-input{
        @include box(46px,246px);
        padding: 0 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: white;
      }
      &-allow_icon{
        position: absolute;
        top: 17px;
        left: 245px;
        font-size: larger;
        color: #aaa;
      }
    }
    &--detailed_search{
      margin-top:40px;
      padding: 16px;
      background-color: white;
      &-title{
        font-size: 16px;
        font-weight: 600;

      }
      &-box{
        margin-top: 24px;
      }
      &-sub-title{
        &-icon{
          color: #aaa;
        }
      }
      &-input{
        margin-top: 8px;
        position: relative;
        &-box{
          @include box(28px,214px);
          padding: 10px 16px 8px;
          border: 1px solid #ccc;
          border-radius: 4px;
        }

        &-arrow_icon{
          position: absolute;
          top: 17px;
          left: 210px;
          font-size: larger;
          color: #aaa;
        }
        &-range-boxs{
          display: flex;
        }
        &-range-box{
          @include box(28px,77px);
          padding: 10px 16px 8px;
          margin-top: 8px;
          border: 1px solid #ccc;
          border-radius: 4px;
        }
        &-range-icon{
          margin:20px auto 0px;
        }
      }
    }
  }
  &__result{
    width: 900px;
    margin-left: 40px;
    &--title{
      @include box(30px,700px);
      margin-bottom: 8px;
      font-size: 22px;
    }
    &-description{
      margin-top: 20px;
      font-size: 14px;
    }
  }
}

.search{
  &__result--boxs{
 }
  &__result--box{
    float: left;
    @include box(160px,113px);
    margin: 20px 70px 115px 0;
  }
  &__image{
    @include box(160px,113px);
    background-color: red;
    .test_image{
      @include box(160px,160px);
    }
  }
  &__body{
   @include box(78px,128px);
    padding:16px;
    background-color: white;
  }
  &__name{
    height: 48px;
    overflow: hidden;
    position: relative;
  }
  &__name_linear{
    position: absolute;
    bottom: 0;
    right: 0;
    @include box(24px,50%);
    background:-webkit-gradient(linear, left top, right top, from(rgba(255,255,255,0)), color-stop(72%, #fff));
  }
  &__price_and_like{
    display: flex;
    margin-top: 8px;
  }
  &__prices{
  }
  &__price{
    font-size: 20px;
  }
  &__tax{
    margin-top: -6px;
    font-size: 10px;
  }
  &__like{
    display: flex;
    margin: 0 0 0 auto;
  }
  &__good_icon{
    color: #ccc;
    margin-right: 4px;
  }
  &__like_num{
    font-size: 16px;
  }
}
