.item_new__fotter
  .item_new__fotter-buttons
    .item_new__fotter-button
      プライバシーポリシー
    .item_new__fotter-button
      メルカリ利用規約
    .item_new__fotter-button
      特定商取引に関する表記
  .item_new__fotter_icon
    = image_tag("/top_images/mercari_gray.svg")
  .item_new__fotter_copyright
    ©︎2019 Mercari
